<br />
<hr />

<h2>Testing</h2>

<h3>1. CSS Tests</h3>

{{ range slice "blue" "red" "green" }}
  <p class="text-{{ . }}">{{ . | title }} text.</p>
{{ end }}


<h3>2. JavaScript Tests</h3>
<p class="greeting text-red">Loading JS.</p>

<h3>3. Icons Tests</h3>
<p>
  <i class="fa-brands fa-github"></i>
  <i class="fa-solid fa-box"></i>
  <i class="fa-solid fa-house"></i>
</p>

<h3>4. External Images Tests</h3>

<h4>4.1. Trusted External Image</h4>
<p>
  <img src="https://avatars.githubusercontent.com/u/128204519?s=100&v=4" />
</p>

<h4>4.2. Untrusted External Image</h4>
<p>
  <img
    src="https://images.pexels.com/photos/1586205/pexels-photo-1586205.jpeg?auto=compress&cs=tinysrgb&w=168&h=100&dpr=1"
  />
</p>

<br />
